html {
  min-height: 100%;
  position: relative;
  background-color: #b83b5e;
}

body {
  color: #eeecda;
  background-color: #b83b5e;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}



.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

a {
  color: #eeecda;
}

.link {
  color: #f08a5d;
}

.link:hover {
  color: #eeecda;
}

/* Navbar section */

.nav-wrapper {
  background-color:#b83b5e; 
  box-shadow: none;
}

nav {
  padding: 15px 0px;
}

.navlink {
  color: #eeecda;
}

nav a:hover {
    color: #f08a5d !important;
    text-decoration: none;
}

nav .brand-logo {
  color: #eeecda;
  font-family: 'Beth Ellen', cursive;
}

/* Carousel Section */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #eeecda);
}

/* Content section */

label {
  font-size: 1.5rem;
  color: #eeecda
}

/* Footer Section */

.footer-padding {
  padding-bottom: 60px;
  margin-top: 150px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 130px;
	background-color: #eeecda;
}

.footer p {
  margin: 25px;
	font-size: 12px;
  color: #b83b5e;
}

/* Social Icons */

a {
  color: #b83b5e;
  
}

a:hover {
  color: #f08a5d;
}

